[Desktop Entry]
Version=1.0
Type=Application
Name=PowerShell
GenericName=Shell
Comment=Cross-platform automation and configuration management shell
Exec=alacritty -e pwsh
Icon=powershell
Terminal=false
Categories=Development;System;
