[Desktop Entry]
Type=Application
Name=Android Studio
Comment=Android IDE and emulator
Exec="{{ target_home }}/.local/share/android-studio/bin/studio.sh" %f
Icon={{ target_home }}/.local/share/android-studio/bin/studio.svg
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-studio
